@use '../../vars' as *;

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  @include page-content;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 200px;
  color: $gray-700;
  font-size: 12px;
  font-weight: 600;
}

.list {
  display: grid;
  gap: 10px;
}
