@use '../../vars' as *;

.container {
  display: flex;
  height: 100vh;

  .mainContent {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-y: auto;

    .content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 40px;
    }

    .emptyState {
      color: $gray-700;
      font-size: 14px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 16px;
    }
  }
}
