@use '../../vars' as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;

  background: $surface;

  border-bottom: 1px solid $slate-050;

  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.04),
    0 6px 24px rgba(0, 0, 0, 0.05);

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
      font-size: 22px;
      font-weight: 600;
    }

    .subtitle {
      font-size: 14px;
      color: $gray-550;
      opacity: 80%;
    }
  }

  .buttonSection {
    display: flex;
    align-items: center;
    gap: 12px;

    .bellIcon {
      color: $primary;
    }

    .professionalButton {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 22px;
      border-radius: 999px;
      background-color: $surface;
      color: $gray-900;
    }

    .healthUnitButton {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 22px;
      border-radius: 999px;
      background: linear-gradient(to right, $primary-darker, $primary);
      color: $white;
    }
  }
}
