@use '../../vars' as *;

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  @include page-content;
}

.examOfferingSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}
