.container {
  display: flex;
  height: 100vh;

  .mainContent {
    display: flex;
    flex-direction: column;
    width: 100vw;

    .queueContainer {
      display: flex;
      flex-direction: column;
      padding: 40px;
    }
  }
}
