@use '../../vars' as *;

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.queueContainer {
  @include page-content;
}

.queueEntry {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.queueDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
